{% extends "base.html" %}

{% block title %} Vacancy {% endblock %}

{% block content %}
<div class="post">
    <span class="post-title">{{ vacancy.name }}</span>
    <p class="post-content">
        Зп: {{ vacancy.salary }} <br>
        Контора: {{ vacancy.employer.name }}
    </p> 
    
    <div class="post-group">
        {% if request.user == vacancy.author %}
            <a href="{% url 'update_vacancy' vacancy.id %}">обновить</a>
            <a href="{% url 'delete_vacancy' vacancy.id %}">удалить</a>
        {% endif %}
    </div>
    
    <div class="post-group">
        <a href="{% url 'apply' vacancy.id %}">apply</a>
    </div>
</div>
{% endblock %}